nav {
	margin: 47px auto 0;
	position: relative;
	width: 590px;
	height: 56px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
    align-content: center;
    
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position:relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
   
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #9aa1a7;
}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cambria', cursive;
}



span {
    color: #2BD6B4;
}


.foto{
    width: 100%;
}

.signupFrm {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }

  .form {
	background-color: white;
	width: 400px;
	border-radius: 8px;
	padding: 20px 40px;
	box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  
  .title {
	font-size: 50px;
	margin-bottom: 50px;
  }


  .inputContainer {
	position: relative;
	height: 45px;
	width: 90%;
	margin-bottom: 17px;
  }

  .input {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	border: 1px solid #DADCE0;
	border-radius: 7px;
	font-size: 16px;
	padding: 0 20px;
	outline: none;
	background: none;
	z-index: 1;
  }
  
  /* Hide the placeholder texts (a) */
  
  ::placeholder {
	color: transparent;
  }


  .label {
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 0 4px;
	background-color: white;
	color: #DADCE0;
	font-size: 16px;
	transition: 0.5s;
	z-index: 0;
  }

  .submitBtn {
	display: block;
	margin-left: auto;
	padding: 15px 30px;
	border: none;
	background-color: purple;
	color: white;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 30px;
  }
  
  .submitBtn:hover {
	background-color: #9867C5;
	transform: translateY(-2px);
  }


.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
}


.input:focus {
	border: 2px solid purple;
  }


  .input:not(:placeholder-shown)+ .label {
	top: -7px;
	left: 3px;
	z-index: 10;
	font-size: 14px;
	font-weight: 600;
  }
